.btn {
  font-family: var(--font-primary);
  font-size: clamp(0.8119rem, 2vw, 1.015rem);
  font-weight: 500;
  color: var(--white);

  height: clamp(2.3988rem, 8vw, 3rem);
  padding: 0 22px;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  &.plus {
    height: 2rem;
    width: 2rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.small {
    font-size: clamp(0.6088rem, 2vw, 0.75rem);
    height: clamp(1.9969rem, 8vw, 2.5rem);
  }

  &.primary {
    background-color: var(--color-primary);
    transition: 0.4s;

    &:hover {
      background-color: var(--color-primary-focus);
    }
  }

  &.negative {
    background-color: var(--color-primary-negative);
    transition: 0.4s;

    &:hover {
      background-color: var(--color-primary-focus);
    }
  }

  &.ligthGray {
    background-color: var(--gray400);
    transition: 0.4s;

    &:hover {
      background-color: var(--gray300);
    }
  }

  &.grayStrong {
    background-color: var(--gray300);
    transition: 0.4s;

    &:hover {
      background-color: var(--gray400);
    }
  }

  &.grayBold {
    background-color: var(--gray200);
    transition: 0.4s;

    &:hover {
      background-color: var(--gray400);
    }
  }

  &.full {
    width: 100%;
  }
}
